<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Cyborg IARC-Contact</title>

    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/stylec.css">
<link rel="icon" href="../assets/images/2.png" type="image/gif" sizes="12x12" class="img-responsive">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body class="no-scroll">
           <div id="app" class="app-container">
            <div class="head">
                    <div class="head-content page-container">
                       <div class="logo-title">
        <img class="logo-img " src="../assets/images/icon.png" id="brand" style="height: 35px; width: auto; position: relative; margin: 10px;"></div>
    <nav class="navbar navbar-default navbar-fixed-top" id="nav">
      <div class="container-fluid">
        
        <button class="navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse" id="bt">
           <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse navHeaderCollapse">
        <ul class="nav navbar-nav navbar-right list-inline" >
        <li><a href="#" class="nav-element">Home</a></li>
      <li><a href="#" class="nav-element">Team</a></li>
      <li class="active"><a href="#" class="nav-element" class="ac">Contact</a></li></ul>
   </div>
  </a></div>
    </nav>
  </div>
</div>

            <div class="app dark-theme" style="background-image: url(../assets/images/circuit.png);">
              
<div class="inner-width" >

    <h1 id="title"> CONTACT US </h1>
    <div class="border"></div>
    <div class="row">
    <div class="services-container">
      <div class="service-box col-md-4">
      <div class="service-icon">
      <i class="fa fa-user fa-rotate-45 fa-2x" > </i>
      </div>
<h2>
  <div class="service-title">
    Faculty Advisor
  </div>
</h2>
<div class="service-desc">
  <h4>
    <center>
      Prof. Ayas K. Swain 
    </center>
  </h4>
      Assistant Professor <br>
      ph. no: 0661-2462458
  <br>
</div>
</div>
    
      <div class="service-box col-md-4">
      <div class="service-icon">
      <i class="fa fa-gear fa-rotate-45 fa-2x" > </i>
      </div>
<h2>
  <div class="service-title">
    CYBORG
  </div>
</h2>
<div class="service-desc">
  <h4>
    <center>
      club under technical soceity
    </center>
  </h4>
  SAC NIT Rourkela <br>EC 440, EC building, NIT Rourkela
  <br>
</div>
</div>

      <div class="service-box col-md-4">
      <div class="service-icon">
      <i class="fa fa-user fa-rotate-45 fa-2x" > </i>
      </div>
<h2>
  <div class="service-title">
    President
  </div>
</h2>
<div class="service-desc">
  <h4>
    <center>
      BISWAJEET SAHOO 
    </center>
  </h4>
  ph. no: +91 9778756623 <br>117ec0323@nitrkl.ac.in
  <br>
</div>
</div>
</div>
</div>
</div>
<br><br>
<br><br><br><br><br><br><br><br>
   
  </body>
  <footer class="container-fluid text-center">
    <div class="row">
      <div class="col-sm-4">
        <h3>Sponsors</h3>
        <a href=""><img src="../assets/images/Sponsor.png" class="icon_sponsor" style="width: 100px"></a>
      </div>
      <div class="col-sm-4"><h3 id="span">Follow Us On</h3><br>
        <br>

        <a href="https://www.facebook.com/cyborg.nitr/" class="fa fa-facebook" id="social"></a>
        <a href="https://github.com/CYBORG-NIT-ROURKELA" class="fa fa-github" id="social"></a>
        <a href="https://www.instagram.com/cyborg_nitr/" class="fa fa-instagram" id="social"></a>
        <a href="https://www.linkedin.com/company/cyborg-nitr" class="fa fa-linkedin" id="social"></a>
        <br><br><br>
      </div>

      <div class="col-sm-4"> <h3>Institute</h3><a href=""><img src="../assets/images/nitr.png" style="width: 100px; "></a>
      </div>
    </div>
    <br>
    <div> 
    </div>     
    </div>
  </footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="../assets/js/bootstrap.min.js" ></script>
</html>