<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="icon" href="../assets/images/logo2.png" type="image/gif">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
  <link rel="stylesheet" href="../assets/css/styles.css">
  <title>IARC</title>
  <script src="../assets/js/team.js" charset="utf-8"></script>
</head>

<body>
  <br><br><br><br>
  <!-- navigation -->
  <div class="navigation-wrap bg-light start-header start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">

            <a class="navbar-brand" href="../index.html" target="_blank"><img src="../assets/images/logo1.png" alt=""></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                <!-- <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="#iarc">About</a>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="#subsystems">Subsystems</a>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="#team">Team</a>
                </li> -->
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="#contact">Contact</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="tp-class">
    <h1 class="tp-head">Meet the Team</h1>
    <div class="ui-group">
      <div class="button-group js-radio-button-group" data-filter-group="subject">
        <button class="button is-checked" data-filter="">All</button>
        <button class="button" data-filter=".typography">Software</button>
        <button class="button" data-filter=".stocks">Mechanical</button>
        <button class="button" data-filter=".colours">Electronics</button>
        <button class="button" data-filter=".uxui">Web</button>
      </div>
    </div>

    <div class="grid">

      <a href="https://facet.ai/" target="_blank">
        <div class="element-item graphic web stocks other">
          <p class="logo"><img src="https://facet.ai/favicon.ico" alt=""></p>
          <h3 class="name">Facet AI</h3>
          <p class="subtitle">Content-aware image editing right in your browser</p>
          <p class="desc"></p>
        </div>
      </a>



      <a href="https://github.com/public-apis/public-apis" target="_blank">
        <div class="element-item web stocks cssjava">
          <p class="logo">N/A</p>
          <h3 class="name">Public APIs</h3>
          <p class="subtitle">A collective list of free APIs for use in software and web development.</p>
          <p class="desc"></p>
        </div>
      </a>


      <a href="https://tabpanelwidget.com" target="_blank">
        <div class="element-item web stocks uxui cssjava">
          <p class="logo"><img src="https://tabpanelwidget.com/favicon-32x32.a6f4bdb8.png" alt=""></p>
          <h3 class="name">TABPANEL Widget</h3>
          <p class="subtitle">From posh, to TABPANEL, to ACCORDION, & vice-versa</p>
          <p class="desc"></p>
        </div>
      </a>


      <a href="https://www.npmjs.com/package/faker" target="_blank">
        <div class="element-item web cssjava other">
          <p class="logo">N/A</p>
          <h3 class="name">faker.js</h3>
          <p class="subtitle">generate massive amounts of fake data</p>
          <p class="desc">in the browser and node.js</p>
        </div>
      </a>


      <a href="https://generator.ws/" target="_blank">
        <div class="element-item web stocks uxui cssjava">
          <p class="logo"><img src="https://generator.ws/wp-content/uploads/2020/12/cropped-24b3206d-e1c5-426f-9c45-83ca5abd81cb-5-192x192.png" alt=""></p>
          <h3 class="name">Bootstrap 5 Generator</h3>
          <p class="subtitle">Build fast, responsive B5 sites</p>
          <p class="desc"> browser-based drag and drop Bootstrap theme builder with powerful possibilities.</p>
        </div>
      </a>


      <a href="https://codepen.io/stoumann/pen/abZxoOM" target="_blank">
        <div class="element-item web uxui cssjava other">
          <p class="logo">N/A</p>
          <h3 class="name">CSS clip-path Editor</h3>
          <p class="subtitle">Interactive CSS clip-path Editor</p>
          <p class="desc"></p>
        </div>
      </a>



      <a href="https://revealjs.com/" target="_blank">
        <div class="element-item web cssjava other">
          <p class="logo"><img src="https://revealjs.com/images/favicon.svg" alt=""></p>
          <h3 class="name">reveal.js</h3>
          <p class="subtitle">The HTML Presentation Framework</p>
          <p class="desc">open source HTML presentation framework. It's a tool that enables anyone with a web browser to create fully-featured and beautiful presentations for free.</p>
        </div>
      </a>




      <a href="https://thenounproject.com/" target="_blank">
        <div class="element-item graphic web stocks">
          <p class="logo"><img src="https://static.production.thenounproject.com/img/favicons/favicon-32x32.015f779a87e7.png" alt=""></p>
          <h3 class="name">Noun Project</h3>
          <p class="subtitle">Icons and Photos For Everything</p>
          <p class="desc">Search over 3 million icons.</p>
        </div>
      </a>



      <a href="https://hotpot.ai/restore-picture" target="_blank">
        <div class="element-item graphic web stocks other">
          <p class="logo"><img src="https://hotpot.ai/images/apple-touch-icon.png" alt=""></p>
          <h3 class="name">AI Picture Restorer Beta</h3>
          <p class="subtitle">Restore pictures with AI in seconds</p>
          <p class="desc">remove scratches, sharpen colors, and enhance faces</p>
        </div>
      </a>


      <a href="https://baseline.is/beta" target="_blank">
        <div class="element-item web graphics logo cssjava other">
          <p class="logo"><img src="https://baseline.is/statics/icons/baseline-icon.svg" alt=""></p>
          <h3 class="name">Brand Guide Generator</h3>
          <p class="subtitle">Create an extensive brand guide</p>
          <p class="desc">in a minute with our super simple brand guide creator.</p>
        </div>
      </a>



      <a href="https://github.com/prabhuignoto/vue-float-menu" target="_blank">
        <div class="element-item web uxui cssjava other">
          <p class="logo">N/A</p>
          <h3 class="name">Float Menu (Vue)</h3>
          <p class="subtitle">Dragable, self-adjusting floating menu</p>
          <p class="desc">finds the optimal menu orientation depending on the position of the menu.</p>
        </div>
      </a>


      <a href="https://phosphoricons.com" target="_blank">
        <div class="element-item graphic web stocks">
          <p class="logo"><img src="https://phosphoricons.com/favicon.ico" alt=""></p>
          <h3 class="name">Phosphor Icons</h3>
          <p class="subtitle">3528 Flexible icons</p>
          <p class="desc">Phosphor is a flexible icon family for interfaces, diagrams, presentations — whatever, really.</p>
        </div>
      </a>


      <a href="https://github.com/knadh/dragmove.js" target="_blank">
        <div class="element-item web cssjava other">
          <p class="logo">N/A</p>
          <h3 class="name">dragmove.js</h3>
          <p class="subtitle">Javascript library to make DOM elements draggable and movable</p>
          <p class="desc">Has touch screen support. Zero dependencies and 500 bytes Gzipped</p>
        </div>
      </a>


      <a href="https://www.calligrapher.ai" target="_blank">
        <div class="element-item graphic web stocks">
          <p class="logo">N/A</p>
          <h3 class="name">Calligrapher AI</h3>
          <p class="subtitle">Type your text, get AI handwriting</p>
          <p class="desc">download in svg</p>
        </div>
      </a>


      <a href="https://bootstrap.build/" target="_blank">
        <div class="element-item web stocks uxui cssjava">
          <p class="logo"><img src="https://bootstrap.build/favicon.png" alt=""></p>
          <h3 class="name">Bootstrap Build</h3>
          <p class="subtitle">Free Bootstrap Builder</p>
          <p class="desc"> Create Bootstrap 4 themes and templates. Start from scratch or reuse free featured designs.</p>
        </div>
      </a>


      <a href="https://www.gethalfmoon.com/" target="_blank">
        <div class="element-item web stocks uxui cssjava">
          <p class="logo"><img src="https://www.gethalfmoon.com/static/halfmoon/img/halfmoon-fav-alt.png" alt=""></p>
          <h3 class="name">Halfmoon</h3>
          <p class="subtitle">Front-end framework with a built-in dark mode</p>
          <p class="desc"> and full customizability using CSS variables; great for building dashboards and tools</p>
        </div>
      </a>


      <a href="https://bgjar.com/" target="_blank">
        <div class="element-item graphic web stocks">
          <p class="logo"><img src="https://bgjar.com/bgjar-100x100.png" alt=""></p>
          <h3 class="name">BGJar</h3>
          <p class="subtitle">Free svg background generator</p>
          <p class="desc">for your websites, blogs and app</p>
        </div>
      </a>


      <a href="https://www.anyfiddle.com/" target="_blank">
        <div class="element-item web other">
          <p class="logo"><img src="https://www.anyfiddle.com/favicon.ico" alt=""></p>
          <h3 class="name">Anyfiddle</h3>
          <p class="subtitle">Any language code playground</p>
          <p class="desc">Build, run and share code in seconds with our free editor. No setup required.</p>
        </div>
      </a>



      <a href="https://the-webdesigner.co/seo-for-web-designers/" target="_blank">
        <div class="element-item web education other">
          <p class="logo"><img src="https://the-webdesigner.co/wp-content/uploads/2020/05/twd.png" alt=""></p>
          <h3 class="name">23 SEO Tips </h3>
          <p class="subtitle">All Web Designers Should Know in 2020</p>
          <p class="desc"></p>
        </div>
      </a>


      <a href="https://wweb.dev/resources/navigation-generator" target="_blank">
        <div class="element-item web stocks uxui cssjava">
          <p class="logo"><img src="https://wweb.dev/favicon.ico" alt=""></p>
          <h3 class="name">Responsive menu generator</h3>
          <p class="subtitle">Simple responsive navs generator</p>
          <p class="desc">Build quickly your responsive menu</p>
        </div>
      </a>


      <a href="https://www.oneword.domains/" target="_blank">
        <div class="element-item web other">
          <p class="logo"><img src="https://www.oneword.domains/static/assets/logo.svg" alt=""></p>
          <h3 class="name">One word domains</h3>
          <p class="subtitle">A collection of available one-word domains</p>
          <p class="desc"></p>
        </div>
      </a>


      <a href="https://1linelayouts.glitch.me/" target="_blank">
        <div class="element-item web cssjava other">
          <p class="logo">N/A</p>
          <h3 class="name">1-Line Layouts</h3>
          <p class="subtitle">10 Modern CSS layout and sizing techniques</p>
          <p class="desc">that highlight just how robust and impactful a single-line of styling code can be.</p>
        </div>
      </a>


      <a href="https://1loc.dev/" target="_blank">
        <div class="element-item web cssjava other">
          <p class="logo">N/A</p>
          <h3 class="name">JS Utilities</h3>
          <p class="subtitle">in single line of code</p>
          <p class="desc">Favorite JavaScript utilities
            in single line of code! No more!</p>
        </div>
      </a>


      <a href="https://www.textfixer.com/" target="_blank">
        <div class="element-item graphic web typography cssjava other">
          <p class="logo"><img src="https://www.textfixer.com/favicon.png" alt=""></p>
          <h3 class="name">Text Fixer</h3>
          <p class="subtitle">collection of free online tools
            for web coding and text conversion</p>
          <p class="desc">Free Online Tools for Generating Random Words, Converting Word to HTML, and more Web Goodness.</p>
        </div>
      </a>


      <a href="https://html-cleaner.com/" target="_blank">
        <div class="element-item graphic web typography cssjava other">
          <p class="logo"><img src="https://html-cleaner.com/favicon.ico" alt=""></p>
          <h3 class="name">HTML Cleaner</h3>
          <p class="subtitle">HTML/CSS/JavaScrip Cleaner and much more</p>
          <p class="desc">Amazing tool for any designer and developer.</p>
        </div>
      </a>



      <a href="https://fonts.google.com/" target="_blank">
        <div class="element-item graphic web typography">
          <p class="logo"><img src="https://www.gstatic.com/images/branding/product/1x/google_fonts_ios_76dp.png" alt=""></p>
          <h3 class="name">Google Fonts</h3>
          <p class="subtitle">Best free fonts foundry and more</p>
          <p class="desc">By using our extensive catalog, you can share and integrate typography into any design project seamlessly—no matter where you are in the world.</p>
        </div>
      </a>

      <a href="http://fontjoy.com/" target="_blank">
        <div class="element-item graphic web typography">
          <p class="logo"><img src="http://fontjoy.com/favicon32.gif" alt=""></p>
          <h3 class="name">Fontjoy</h3>
          <p class="subtitle">Font pairing made simple</p>
          <p class="desc">Easy to use tool to sample different font pairings with customization and similar fonts showcase.</p>
        </div>
      </a>



      <a href="https://www.websiteplanet.com/blog/best-free-fonts/" target="_blank">
        <div class="element-item graphic web typography">
          <p class="logo"><img src="https://dt2sdf0db8zob.cloudfront.net/wp-content/themes/websiteplanet/img/favicons/favicon-32x32.png?v=1" alt=""></p>
          <h3 class="name">70+ Best Free Fonts</h3>
          <p class="subtitle">Free for Commercial Use in 2019</p>
          <p class="desc">70+ fonts that offer free licenses for commercial (and personal) use.</p>
        </div>
      </a>



      <a href="https://www.mixfont.com/" target="_blank">
        <div class="element-item graphic web typography">
          <p class="logo"><img src="https://www.mixfont.com/static/media/logo.99b66e98.png" alt=""></p>
          <h3 class="name">Mixfont</h3>
          <p class="subtitle">Mixfont is a fun and simple way to discover and visualize new fonts</p>
          <p class="desc">Easy to use tool to sample different font pairings with customization.</p>
        </div>
      </a>


      <a href="https://indestructibletype.com/Jost.html" target="_blank">
        <div class="element-item graphic web typography">
          <p class="logo"><img src="https://indestructibletype.com/assets/Favicon.png" alt=""></p>
          <h3 class="name">Jost</h3>
          <p class="subtitle">Variable Futura font</p>
          <p class="desc">Jost aims to keep the attitude of Futura rather than the exact design.</p>
        </div>
      </a>


      <a href="https://www.boldwebdesign.com.au/font-combinations-for-web-designers.html" target="_blank">
        <div class="element-item graphic web typography">
          <p class="logo"><img src="https://www.boldwebdesign.com.au/images/favicon.png" alt=""></p>
          <h3 class="name">Font Combinations</h3>
          <p class="subtitle">Font combinations for web designers.</p>
          <p class="desc">A collection of font pairings.</p>
        </div>
      </a>


      <a href="https://www.myfonts.com/" target="_blank">
        <div class="element-item graphic web typography">
          <p class="logo"><img src="https://cdn.myfonts.net/s/images/icons/apple-touch-icon-57x57.png" alt=""></p>
          <h3 class="name">My Fonts</h3>
          <p class="subtitle">A commercial font distributor</p>
          <p class="desc">Simple and easy to navigate commercial font foundry.</p>
        </div>
      </a>


      <a href="http://www.identifont.com/" target="_blank">
        <div class="element-item graphic web typography">
          <p class="logo"><img src="http://www.identifont.com/images/icon-72.png" alt=""></p>
          <h3 class="name">Identifont</h3>
          <p class="subtitle">Identify your font</p>
          <p class="desc">Provides a range of features to help you locate fonts or find information about fonts.</p>
        </div>
      </a>


      <a href="https://tablericons.com/" target="_blank">
        <div class="element-item graphic web stocks">
          <p class="logo"><img src="https://tablericons.com/favicon.png" alt=""></p>
          <h3 class="name">Tabler Icons</h3>
          <p class="subtitle">558 Fully customizable SVG icons</p>
          <p class="desc"></p>
        </div>
      </a>


      <a href="https://www.freepik.com/" target="_blank">
        <div class="element-item graphic web stocks">
          <p class="logo"><img src="https://freepik.cdnpk.net/img/favicons/favicon.ico?v=2018082101" alt=""></p>
          <h3 class="name">Freepik</h3>
          <p class="subtitle">Graphic resources for everyone</p>
          <p class="desc">Find Free Vectors, Stock Photos, PSD and Icons.</p>
        </div>
      </a>


      <a href="http://shrsl.com/17m3a-1tj1-rsto" target="_blank">
        <div class="element-item web cssjava animation stocks other">
          <p class="logo"><img src="https://static.nicepage.com/images/site/nicepage.jpg" alt=""></p>
          <h3 class="name">Nicepage</h3>
          <p class="subtitle">Website builder in your browser</p>
          <p class="desc">Nicepage is the new powerful and easy-to-use builder for HTML5, Joomla, WordPress websites, blogs and themes.</p>
        </div>
      </a>


      <a href="https://burst.shopify.com/" target="_blank">
        <div class="element-item graphic web stocks">
          <p class="logo"><img src="https://burst.shopify.com/assets/global/favicon-ab7018e1fe708a49edcfecce3166032fbeeb1fd7ba4a078c366de344d32ee193.png" alt=""></p>
          <h3 class="name">Burst</h3>
          <p class="subtitle">Free stock photos</p>
          <p class="desc">Free stock photos catalogue.</p>
        </div>
      </a>
    </div>
  </div>



  <!-- contact section -->
  <footer id="contact" class="contact-section">
    <br><br>
    <!-- <h1 class="cs-head">Contact Us</h1> -->
    <div class="row">
      <div class="col-md-3 cs-left">
        <h1>ADDRESS</h1>
        <p>SAC, NIT Rourkela. Pin-769008</p>
        <h1>EMAIL</h1>
        <p><a href="mailto:cyborg.team.nitr@gmail.com">cyborg.team.nitr@gmail.com</a></p>
        <h1>PHONE</h1>
        <p><a href="tel:+919778756623">+91 97787 56623</a></p>
      </div>
      <div class="col-md-6 cs-right">
        <form class="cf">
          <div class="half left cf">
            <input type="text" id="input-name" placeholder="Name">
            <input type="email" id="input-email" placeholder="Email address">
            <input type="text" id="input-subject" placeholder="Subject">
          </div>
          <div class="half right cf">
            <textarea name="message" type="text" id="input-message" placeholder="Message"></textarea>
          </div>
          <input type="submit" value="Submit" id="input-submit">
        </form>
      </div>
      <div class="col-md-3 cs-logo">
        <img src="../assets/images/logo.png" alt="">
        <ul class="social-icons">
          <li><a href="#"><i class="fa fa-github"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>






  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script> -->

  <!-- Option 2: Separate Popper and Bootstrap JS -->

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
  <script src="../assets/js/script.js" charset="utf-8"></script>

</body>

</html>
